
.article{
    background-color: var(--secondaire);
}
.article__sub{
    color: var(--soustitre);
    font-size: small;
    font-family: var(--p);
}

.article__h1{
    font-family: var(--article-h1);

}

.article__h2{
    font-family: var();
}

.article__p{
    font-family: var(--p);
}

.article__img{
    width: 100%;
    height: auto;
}

.article__video{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.article__objet{
    position: relative;
    margin-bottom: 800px;
    display: flex;
    justify-content: center;
}

.article__frise{
    position: absolute;
    background-color: black;
    width: 10px;
    height: 450px;
    margin-bottom: 5000 px;
}

.article__line{
    position: absolute;
    background-color: black;
    width: 100px;
    height: 10px;
    z-index: 2;
}

.article__circle{
    /*créer un rond*/
    position: absolute;
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
}

.article__circle--1{
    top: 40px
}

.article__circle--2{
    top: 80px
}

.article__circle--3{
    top: 120px
}

.article__circle--4{
    top: 160px
}

.article__circle--5{
    top: 200px
}

.article__circle--6{
    top: 240px
}

.article__circle--7{
    top: 280px
}

.article__circle--8{
    top: 320px
}

.article__circle--9{
    top: 360px
}

.article__circle--10{
    top: 400px
}

.article__fleche{
    background-color: none;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px;
    border-color: black transparent transparent transparent ;   
    top: 449px;

}

.article__pfrise{
    position: absolute;
    color: black;
}

.article__pfrise--1{
    top: 25px;
    right: 100px;
}

.article__pfrise--2{
    top: 65px;
    right: 100px;
}

.article__pfrise--3{
    top: 105px;
    right: 100px;
}

.article__pfrise--4{
    top: 145px;
    right: 100px;
}

.article__pfrise--5{
    top: 185px;
    right: 100px;
}

.article__pfrise--6{
    top: 225px;
    right: 100px;
}

.article__pfrise--7{
    top: 265px;
    right: 100px;
}

.article__pfrise--8{
    top: 305px;
    right: 100px;
}

.article__pfrise--9{
    top: 345px;
    right: 100px;
}

.article__pfrise--10{
    top: 385px;
    right: 100px;
}
