.header{
    position: relative;
    display: block;
    top: -8px;
    left: -8px;
    
}

.header--home{
    width: 100vw;
    height: 100vh;
    margin-bottom: 15%;
}

.header--other{
    width: 100vw;
    height: 8vh;
    background-color: #999165;
}

.header__menu{
    position: absolute;
    right: 5%;
    margin-top: 2%;
    width: 10%;
    height: auto;
}

.header__logo{
    position: absolute;
    right: 15px;
    top: 2%;
    width: 10%;
    height: auto;
}

.header__langage{
    display: block;
    position: absolute;
    right: 25%;
    margin-top: 2%;
    width: 10%;
    height: auto;
}

.header__wallpaper{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__h1{
    position: absolute;
    top: 60%;
    left: 15px;
    color: var(--h1-color);
    font-size: 50px;
}

.header__down{
    background: none;   
    width: 48px;
    height: 48px;
    border: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    

}
