.mess__message{
    margin-bottom: 5vh;
    display: flex;
    margin-top: 5vh;
}

.mess__adress{
    position: relative;
    margin-bottom: 5vh;
}

.mess__email{
    border: 1px solid var(--tertiaire);
    padding: 1vh;
}

.mess__area{
    width: 80%;
    padding: 1vh;
    border: 1px solid var(--tertiaire);
}

.mess__title1{
    position: relative;
    font-family: var();
    color: var(--tertiaire);

}

.mess__title2{
    position: absolute;
    font-family: var();
    color: var(--tertiaire);
    margin: 0;
}

.mess__btn{
    color: white;
    background-color: var(--principal);
    border: none;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 20%;
    width: 20%;
    height: 3vh;
    border-radius: 8%;
}



.mess__div--area{
    margin-bottom: 5vh;
}

.mess__div--title{

}

