.sommaire{
    display: block;
    width: 75vw;
    height: auto;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8%;
    position: relative;
    margin-bottom: 5vh;
    padding-bottom: 5vh;

}

.sommaire__img{
    position : relative;
    width: 100%;
    height: auto;
    
}

.sommaire__link{
    color: black;
    text-decoration: none;
    position: absolute;
    right: 5vw;
}

.sommaire__link::after{
    content: "-->";
    margin-left: 1vw;
}
.sommaire__p{
    position: relative;
    width: 45%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.sommaire__a{
    text-decoration: none;
    color: black;
}

