.summary__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondaire);
    border-radius: 5%;
    padding-right: 0;
    
}

.summary__section--right{
    position: relative;
    left: 10vw;
}


.summary__img{
    /*donner la même taille à toutes les images*/
    width: 30vw;
    height: auto;
    border-radius: 5%;



}
