.summary__section{
    background-color: var(--principal);
    border-radius: 5%;
    margin-bottom: 5vh;
}




.summary__img{
    position: relative;



}

.summary__div{
    display: flex;
    justify-content: space-between;


    
}

.summary__h1{
    font-size: 1.2rem;
}

.summary__p{
    position: relative;
    font-family: var(--p);
    color: var(--tertiaire);
    font-size: 1rem;
    margin: 2vw;

}

.summary__a{
    text-decoration: none;
}
