.summary__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.summary__section--right{
    position: relative;
    left: 10vw;
}


.summary__img{
    /*donner exactement la même taille à toutes les images*/
    width: 30vw;
    height: 15vh;
    object-fit: cover;
    object-position: start;
    clip-path: circle(40% at 50% 50%);
}
