:root{
    /*color*/
    --principal: #999165;
    --soustitre: #746D6D;

    /*fonts*/
    --home-title: 'Quando';
    --p: 'Playfair Display';
    --article-h1: 'Courier Prime', bold;
    --article-h2: 'Courier Prime', bold;
    --nav-h1: 'Courier Prime', bold;
    --nav-h2: 'Playfair Display';

}