:root{
    /*color*/
    --principal: #726D35; 
    --secondaire: #ADAA87;
    --tertiaire: #413F2A;
    --quaternaire: #A6A177;
    --cinquieme: ;
    --soustitre: #746D6D;

    /*fonts*/
    --home-title: 'Quando';
    --p: 'Playfair Display';
    --article-h1: 'Courier Prime', bold;
    --article-h2: 'Courier Prime', bold;
    --nav-h1: 'Courier Prime', bold;
    --nav-h2: 'Playfair Display';

}