:root{
    /*color*/
    --principal: rgb(139, 107, 36); 
    --secondaire: rgb(199, 207, 218);
    --tertiaire: rgb(195, 26, 56);
    --quaternaire: rgb(0, 0, 0);
    --soustitre: #746D6D;

    /*fonts*/
    --home-title: 'Quando';
    --p: 'Playfair Display';
    --article-h1: 'Courier Prime', bold;
    --article-h2: 'Courier Prime', bold;
    --nav-h1: 'Courier Prime', bold;
    --nav-h2: 'Playfair Display';

}